/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------css reset end-----------------*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.mb-layout-sm {
  margin-bottom: 16px;
}

h1 {
  font-size: 80px;
  line-height: 90px;
  font-family: Andale Mono,sans-serif;
  margin-bottom: 24px;
}

.line {
  height: 1px;
  width: 1200px;
  background: #000;
}

.mb-layout {
  margin-bottom: 48px;
}

.mb-layout-profile {
  margin-bottom: 79px;
}

h2 {
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 8px;
  position: relative;
}

span {
  color: #A00404;
  font-size: 24px;
  margin-left: 16px;
  font-family: Roboto;
  font-weight: 700;
}

ul {
  line-height: 1.5;
  font-size: 24px;
  padding-left: 48px;
  font-weight: 300;
}

.fw-light {
  font-weight: 300;
}

.mb-layout-li {
  margin-bottom: 24px;
}

.item {
  position: relative;
}

.item::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -32px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #96A9C4;
}

.education {
  margin-bottom: 72px;
}

.mb-layout-li-lg {
  margin-bottom: 32px;
}

.education-item::after {
  content: '';
  position: absolute;
  top: 16px;
  left: -24px;
  width: 1px;
  height: 66px;
  background: #96A9C4;
}

.bg-skill {
  background: #96A9C4;
  height: 360px;
  position: relative;
  margin-top: 140px;
  margin-bottom: 136px;
}

.center {
  text-align: center;
}

.skill {
  background: #415165;
  padding: 24px 0;
  position: absolute;
  top: -70px;
  left: 8%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.span-light {
  color: #fff;
}

.line-skill {
  width: 996px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: #fff;
}

.skill-list {
  text-align: left;
  position: relative;
  padding-left: 0;
}

.skill-list li {
  margin-bottom: 16px;
}

.skill-list::before {
  content: '';
  width: 1px;
  height: 346px;
  background: #96A9C4;
  position: absolute;
  left: -24px;
}

.line-experience {
  margin-bottom: 22px;
}

.experience-list {
  position: relative;
}

.experience-list li {
  margin-bottom: 32px;
}

.experience-list p {
  font-size: 20px;
  font-weight: 300;
}

.experience-list::before {
  content: '';
  width: 1px;
  height: 600px;
  background: #96A9C4;
  position: absolute;
  left: 15px;
}

.experience-item p, .experience-item a {
  margin-bottom: 8px;
}

.experience-item a {
  display: block;
  width: 90px;
  height: 73px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.experience-item .hexshool {
  background: url("../img/Group 1.svg") no-repeat;
  margin-top: 8px;
}

.experience-item .simtree {
  background: url("../img/simtree.png") no-repeat;
}

.contact {
  background: #415165;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 24px 0 48px 0;
}

.contact li {
  margin-bottom: 16px;
}

.contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-icon img {
  margin: 0 12px;
}
/*# sourceMappingURL=all.css.map */